# Git / GitHub
.git/
.github/
.gitignore

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.ruff_cache/

# Docs / assets (não são necessários dentro da imagem)
docs/
README.md
LICENSE
ruff.toml

# Arquivos de teste locais
*.pdf
!docs/**/*.pdf

# Sistema operacional / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
