# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.ruff_cache/

# Streamlit
.streamlit/secrets.toml

# Arquivos de teste / uso local
*.pdf
!docs/**/*.pdf
examples/

# Sistema operacional / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
.old/
.zip