# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.ruff_cache/
.agents/

# Streamlit
.streamlit/secrets.toml
developing-with-streamlit

# Arquivos de teste / uso local
*.pdf
!docs/**/*.pdf

# Sistema operacional / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
.old/
.zip
